<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="upcuaclient_vbnet.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.HashCode" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <upcuaclient_vbnet.My.MySettings>
      <setting name="hostOpc" serializeAs="String">
        <value>opc.tcp://localhost:4840</value>
      </setting>
      <setting name="namespaceOpc" serializeAs="String">
        <value />
      </setting>
      <setting name="nodeIdOpc" serializeAs="String">
        <value>[]</value>
      </setting>
      <setting name="selectedNodeIdOpc" serializeAs="String">
        <value>[]</value>
      </setting>
      <setting name="defaultTimeout" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="intervalTime" serializeAs="String">
        <value>120000</value>
      </setting>
      <setting name="intervalRefreshTimer" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="Units" serializeAs="String">
        <value>PSI</value>
      </setting>
      <setting name="hostDB" serializeAs="String">
        <value>Server=localhost\SQLEXPRESS;Database=OpcUaClient</value>
      </setting>
      <setting name="intervalCheckConnections" serializeAs="String">
        <value>120000</value>
      </setting>
      <setting name="stateConnectionDB" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="stateConnectionOPC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="selectedNodeSensor" serializeAs="String">
        <value>{}</value>
      </setting>
      <setting name="intervalRefreshMain" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="thresholdPressureGauge" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="endRecording" serializeAs="String">
        <value>[]</value>
      </setting>
    </upcuaclient_vbnet.My.MySettings>
  </userSettings>
</configuration>